 h1 {
     
     margin:5%;
     padding:2%;
     color:white;
     background-color:black;
     
 }

 h2 {

     margin-left:5%;
     margin-right:5%;
     color:darkred;
     

 }
 #registrationform {
     
     margin: 5%;
 }